{% extends "lqcd_inventory/layout.html" %} 

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Eigensystem View</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">

            <dt>Path</dt>
            <dd>{{ object.path }}</dd>

            <dt>HYP 1</dt>
            <dd>{{ object.hyp_strength1 }}</dd>

            <dt>HYP 2</dt>
            <dd>{{ object.hyp_strength2 }}</dd>

            <dt>HYP Iter</dt>
            <dd>{{ object.hyp_iterations }}</dd>

            <dt>Eigenvectors</dt>
            <dd>{{ object.eigenvector_count }}</dd>

            <dt>ev ts \( \lambda_\mathrm c \)</dt>
            <dd>{{ object.ev_ts_lambda_c }}</dd>

            <dt>ev ts \( \lambda_\mathrm L \)</dt>
            <dd>{{ object.ev_ts_lambda_l }}</dd>

            <dt>Configs</dt>
            <dd>{{ object.config_start }}..{{ object.config_end }}..{{ object.config_step }}</dd>

            <dt>Config Count</dt>
            <dd>{{ object.config_count }}</dd>

            <dt>Ensemble</dt>
            <dd>
            {{ object.ensemble }}
            <a class="btn btn-xs btn-info" href="{% url 'ensemble_view' object.ensemble.id %}">View</a>
            </dd>

            <dt>Storage</dt>
            <dd>
            {{ object.storage }}
            <a class="btn btn-xs btn-info" href="{% url 'storage_view' object.storage.id %}">View</a>
            </dd>

            <dt>Comment</dt>
            <dd>{{ object.comment }}</dd>

        </dl>
    </div>
    <div class="col-md-6">
        {% include 'lqcd_inventory/macro_actions.html' with object=object name='eigensystem' show_view=False only %}
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <h2>Used by Perambulators</h2>

        {% include 'lqcd_inventory/macro_perambulator_table.html' with object_list=object.perambulators.all show_ensemble=False show_dilution=True show_actions=True only %}
    </div>
</div>
{% endblock %}
