{% extends "lqcd_inventory/layout.html" %} 

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Ensemble View</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{ object.name }}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        {% include 'lqcd_inventory/macro_actions.html' with object=object name='ensemble' show_view=False only %}
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-6">
        <h2>Used by Eigensystems</h2>

        {% include 'lqcd_inventory/macro_eigensystem_table.html' with object_list=object.eigensystems.all show_ensemble=False show_actions=True only %}
    </div>
</div>
{% endblock %}
