<table class="table">
    <thead>
        <tr>
            <th><tt>str</tt></th>
            <th>Path</th>
            <th>HYP 1</th>
            <th>HYP 2</th>
            <th>HYP Iter</th>
            <th>Eigenvectors</th>
            <th>ev ts \( \lambda_\mathrm c \)</th>
            <th>ev ts \( \lambda_\mathrm L \)</th>
            <th>Configs</th>
            <th>Config Count</th>
            <th>Ensemble</th>
            <th>Storage</th>
            <th>Comment</th>
            {% if show_actions %}
            <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object }}</td>
            <td><tt>{{ object.path }}</tt></td>
            <td>{{ object.hyp_strength1 }}</td>
            <td>{{ object.hyp_strength2 }}</td>
            <td>{{ object.hyp_iterations }}</td>
            <td>{{ object.eigenvector_count }}</td>
            <td>{{ object.ev_ts_lambda_c }}</td>
            <td>{{ object.ev_ts_lambda_l }}</td>
            <td>{{ object.config_start }}..{{ object.config_end }}..{{ object.config_step }}</td>
            <td>{{ object.config_count }}</td>
            <td>
                {{ object.ensemble }}
                <a class="btn btn-xs btn-info" href="{% url 'ensemble_view' object.ensemble.id %}">View</a>
            </td>
            <td>
                {{ object.storage }}
                <a class="btn btn-xs btn-info" href="{% url 'storage_view' object.storage.id %}">View</a>
            </td>
            <td>{{ object.comment }}</td>
            {% if show_actions %}
            <td>
                {% include 'lqcd_inventory/macro_actions.html' with object=object name='eigensystem' show_view=True only %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
