<table class="table">
    <thead>
        <tr>
            <th><tt>str</tt></th>
            <th>Name</th>
            <th>Letter</th>
            <th>Value</th>
            {% if show_actions %}
            <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.letter }}</td>
            <td>{{ object.value }}</td>
            {% if show_actions %}
            <td>
                {% include 'lqcd_inventory/macro_actions.html' with object=object name='dilution' show_view=True only %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
