{% extends "lqcd_inventory/layout.html" %} 

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Perambulator View</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt><tt>str</tt></dt>
            <dd>{{ object }}</dd>
            <dt>Quark type</dt>
            <dd>{{ object.quark_type }}</dd>
            <dt>\( \mu \)</dt>
            <dd>{{ object.mass }}</dd>
            <dt>Seeds</dt>
            <dd>
            <ul>
                {% for seed in object.perambulator_seed.all %}
                <li>
                    {{ seed.seed_id }}: {{ seed.seed }}
                    <a class="btn btn-xs btn-info" href="{% url 'perambulator_seed_view' seed.id %}">View</a>
                </li>
                {% endfor %}
            </ul>
            </dd>
            <dt>Eigensystem</dt>
            <dd>
            {{ object.eigensystem }}
            <a class="btn btn-xs btn-info" href="{% url 'eigensystem_view' object.eigensystem.id %}">View</a>
            </dd>
            <dt>Dilution</dt>
            <dd>
            <table class="table">
                <tr>
                    <td>Source Time</td>
                    <td>
                        {{ object.dilution_source_time }}
                        <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_source_time.id %}">View</a>
                    </td>
                </tr>
                <tr>
                    <td>Source Space</td>
                    <td>
                        {{ object.dilution_source_space }}
                        <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_source_time.id %}">View</a>
                    </td>
                </tr>
                <tr>
                    <td>Source LapH</td>
                    <td>
                        {{ object.dilution_source_laph }}
                        <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_source_time.id %}">View</a>
                    </td>
                </tr>
                <tr>
                    <td>Source Dirac</td>
                    <td>
                        {{ object.dilution_source_dirac }}
                        <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_source_time.id %}">View</a>
                    </td>
                </tr>
                <tr>
                    <td>Sink Time</td>
                    <td>
                        {{ object.dilution_sink_time }}
                        <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_sink_time.id %}">View</a>
                    </td>
                </tr>
                <tr>
                    </td>
                    <td>Sink Space</td>
                    <td>
                        {{ object.dilution_sink_space }}
                        <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_sink_time.id %}">View</a>
                    </td>
                </tr>
                <tr>
                    <td>Sink LapH</td>
                    <td>
                        {{ object.dilution_sink_laph }}
                        <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_sink_time.id %}">View</a>
                </tr>
                </tr>
                <tr>
                    <td>Sink Dirac</td>
                    <td>
                        {{ object.dilution_sink_dirac }}
                        <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_sink_time.id %}">View</a>
                    </td>
                </tr>
            </table>
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        {% include 'lqcd_inventory/macro_actions.html' with object=object name='perambulator' show_view=False only %}
    </div>
</div>
{% endblock %}
