{% extends "lqcd_inventory/layout.html" %} 

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Dilution Scheme</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>{{ object.id }}</dd>
            <dt>Name</dt>
            <dd>{{ object.name }}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        {% include 'lqcd_inventory/macro_actions.html' with object=object name='dilution' show_view=False only %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Used by Perambulators</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Source Time</h3>
        {% include 'lqcd_inventory/macro_perambulator_table.html' with object_list=object.perambulator_source_time.all show_ensemble=True show_dilution=False show_actions=True only %}
    </div>
    <div class="col-md-6">
        <h3>Source Space</h3>
        {% include 'lqcd_inventory/macro_perambulator_table.html' with object_list=object.perambulator_source_space.all show_ensemble=True show_dilution=False show_actions=True only %}
    </div>
    <div class="col-md-6">
        <h3>Source LapH</h3>
        {% include 'lqcd_inventory/macro_perambulator_table.html' with object_list=object.perambulator_source_laph.all show_ensemble=True show_dilution=False show_actions=True only %}
    </div>
    <div class="col-md-6">
        <h3>Source Dirac</h3>
        {% include 'lqcd_inventory/macro_perambulator_table.html' with object_list=object.perambulator_source_dirac.all show_ensemble=True show_dilution=False show_actions=True only %}
    </div>
    <div class="col-md-6">
        <h3>Sink Time</h3>
        {% include 'lqcd_inventory/macro_perambulator_table.html' with object_list=object.perambulator_sink_time.all show_ensemble=True show_dilution=False show_actions=True only %}
    </div>
    <div class="col-md-6">
        <h3>Sink Space</h3>
        {% include 'lqcd_inventory/macro_perambulator_table.html' with object_list=object.perambulator_sink_space.all show_ensemble=True show_dilution=False show_actions=True only %}
    </div>
    <div class="col-md-6">
        <h3>Sink LapH</h3>
        {% include 'lqcd_inventory/macro_perambulator_table.html' with object_list=object.perambulator_sink_laph.all show_ensemble=True show_dilution=False show_actions=True only %}
    </div>
    <div class="col-md-6">
        <h3>Sink Dirac</h3>
        {% include 'lqcd_inventory/macro_perambulator_table.html' with object_list=object.perambulator_sink_dirac.all show_ensemble=True show_dilution=False show_actions=True only %}
    </div>
</div>
{% endblock %}
