{% extends "lqcd_inventory/layout.html" %} 

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Ensemble View</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>{{ object.id }}</dd>
            <dt>Path</dt>
            <dd>{{ object.path }}</dd>
            <dt>Ensemble</dt>
            <dd>
            {{ object.ensemble }}
            <a class="btn btn-xs btn-info" href="{% url 'ensemble_view' object.ensemble.id %}">View</a>
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        {% include 'lqcd_inventory/macro_actions.html' with object=object name='eigensystem' show_view=False only %}
    </div>
</div>
{% endblock %}
