<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>\( \mu_\mathrm l \)</th>
            <th>\( \mu_\mathrm s \)</th>
            <th>\( \mu_\mathrm c \)</th>
            <th>Seeds</th>

            {% if show_ensemble %}
            <th>Ensemble</th>
            {% endif %}
            {% if show_dilution %}
            <th>So. Time</th>
            <th>So. Space</th>
            <th>So. LapH</th>
            <th>So. Dirac</th>
            <th>Si. Time</th>
            <th>Si. Space</th>
            <th>Si. LapH</th>
            <th>Si. Dirac</th>
            {% endif %}
            {% if show_storage %}
            <th>Storage</th>
            {% endif %}
            {% if show_actions %}
            <th>Comment</th>
            <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.mass_light }}</td>
            <td>{{ object.mass_strange }}</td>
            <td>{{ object.mass_charm }}</td>
            <td>{{ object.perambulator_seed.all|join:', ' }}</td>
            {% if show_ensemble %}
            <td>
                {{ object.ensemble }}
                <a class="btn btn-xs btn-info" href="{% url 'ensemble_view' object.ensemble.id %}">View</a>
            </td>
            {% endif %}
            {% if show_dilution %}
            <td>
                {{ object.dilution_source_time }}
                <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_source_time.id %}">View</a>
            </td>
            <td>
                {{ object.dilution_source_space }}
                <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_source_time.id %}">View</a>
            </td>
            <td>
                {{ object.dilution_source_laph }}
                <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_source_time.id %}">View</a>
            </td>
            <td>
                {{ object.dilution_source_dirac }}
                <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_source_time.id %}">View</a>
            </td>
            <td>
                {{ object.dilution_sink_time }}
                <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_sink_time.id %}">View</a>
            </td>
            <td>
                {{ object.dilution_sink_space }}
                <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_sink_time.id %}">View</a>
            </td>
            <td>
                {{ object.dilution_sink_laph }}
                <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_sink_time.id %}">View</a>
            </td>
            <td>
                {{ object.dilution_sink_dirac }}
                <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_sink_time.id %}">View</a>
            </td>
            {% endif %}
            {% if show_storage %}
            <td>
                {{ object.storage }}
                <a class="btn btn-xs btn-info" href="{% url 'storage_view' object.storage.id %}">View</a>
            </td>
            {% endif %}
            <td>{{ object.comment }}</td>
            {% if show_actions %}
            <td>
                {% include 'lqcd_inventory/macro_actions.html' with object=object name='perambulator' show_view=True only %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
