<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>\( \mu_\mathrm l \)</th>
            <th>\( \mu_\mathrm s \)</th>
            <th>\( \mu_\mathrm c \)</th>
            <th>Seed</th>

            {% if show_ensemble %}
            <th>Ensemble</th>
            {% endif %}
            {% if show_dilution %}
            <th>Dilution</th>
            {% endif %}
            {% if show_actions %}
            <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.mass_light }}</td>
            <td>{{ object.mass_strange }}</td>
            <td>{{ object.mass_charm }}</td>
            <td>{{ object.random_seed }}</td>
            {% if show_ensemble %}
            <td>
                {{ object.ensemble }}
                <a class="btn btn-xs btn-info" href="{% url 'ensemble_view' object.ensemble.id %}">View</a>
            </td>
            {% endif %}
            {% if show_dilution %}
            <td>
                {{ object.dilution_scheme }}
                <a class="btn btn-xs btn-info" href="{% url 'dilution_view' object.dilution_scheme.id %}">View</a>
            </td>
            {% endif %}
            {% if show_actions %}
            <td>
                {% include 'lqcd_inventory/macro_actions.html' with object=object name='perambulator' show_view=True only %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
