{% extends "lqcd_inventory/layout.html" %} 

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>Perambulator Index</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>\( \mu_\mathrm l \)</th>
                    <th>\( \mu_\mathrm s \)</th>
                    <th>\( \mu_\mathrm c \)</th>
                    <th>Seed</th>
                    <th>Ensemble</th>
                    <th>Dilution</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for perambulator in perambulator_list %}
                <tr>
                    <td>{{ perambulator.id }}</td>
                    <td>{{ perambulator.mass_light }}</td>
                    <td>{{ perambulator.mass_strange }}</td>
                    <td>{{ perambulator.mass_charm }}</td>
                    <td>{{ perambulator.seed }}</td>
                    <td>{{ perambulator.ensemble }}</td>
                    <td>
                        {{ perambulator.dilution_scheme }}
                        <a class="btn btn-xs btn-info" href="{% url 'dilution_schemes_view' perambulator.dilution_scheme.id %}">View</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'perambulators_view' perambulator.id %}" class="btn btn-default btn-sm">View</a>
                            <a href="" class="btn btn-default btn-sm">Edit</a>
                            <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#delete-{{ perambulator.id }}"  aria-expanded="false" aria-controls="collapseExample">Delete …</button>
                            <a href="" id="delete-{{ perambulator.id }}" class="btn btn-danger btn-sm collapse">Yes, delete!</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
